main{
    display: flex;

    flex-direction: row;
    /* flex-wrap: wrap; */

    /* flex-flow: column wrap; */

    justify-content: center;
    align-content: flex-start;
    align-items: center;
    gap: 40px;


    height: 100vh;
}

div{
    border: 1px solid;
    padding: 10px;
    width: 300px;
}


.three{
    flex-grow: 2;
}
.five{
   flex-basis: 100%;
}

.seven{
    align-self: flex-end;
}