label{
    display: block;
}

h2{
    /* display: none; */
    /* visibility: hidden; */
    /* opacity: 0; */
}



div{
    border: 1px solid ;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
    /* overflow: scroll; */
    /* overflow-x: hidden;
    overflow-y: auto; */

    /* overflow: visible; */
    overflow: hidden;
}